* {
  font-size: 13px;
  font-family: FiraCode Nerd Font Mono, DemiBold;
  /* font-family: Arial; */
  border: none;
}

window#waybar {
  border-bottom: 0px;
  color: #d4be98;
  background-color: #282828;
}

#workspaces {
  color: #d4be98;
  background-color: #282828;
}

#workspaces button {
  padding: 0 0.2em;
}

#workspaces button:hover {
  color: #e78a4e;
}

#workspaces button.active {
  color: #d3869b;
}

#workspaces button.emtpy {
  color: #635850;
}

#workspaces button.urgent {
  color: #ea6962;
}

#battery.charging {
  color: #a9b665;
}

#battery.plugged {
  color: #d3869b;
}

@keyframes blink {
  to {
    color: #282828;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: #ea6962;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio.muted {
  color: #7c6f64;
}

#pulseaudio.source-muted {
  color: #7c6f64;
}

#workspaces, #backlight, #cpu, #memory, #disk, #network, #custom-vpn, #battery {
  padding-right: 10px;
  padding-left: 8px;
  border-right: 2px solid #635850;
}

#cpu.critical {
  color: #ea6962;
}

#memory.critical {
  color: #ea6962;
}

#clock, #pulseaudio {
  padding-right: 8px;
  padding-left: 8px;
}
